<!--Reset Password-->


<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
        crossorigin="anonymous">
</head>

<body>
    <!---Login-->

    <div class="reset-passwd">
        <div class="reset-passwd-wrap">
            <div class="reset-title">
                <h1>Reset Password</h1>
            </div>
            <div class="reset-body-password">
                <form name="registerForm" novalidate>
                    <div class="form-group1">
                        <label>Old Password:</label>
                        <input type="password" name="oldpassword"  minlength="8" ng-model="pass.OPassword" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,`~|])(?!.*\s).*$/" placeholder="old password">
                        <p class="error" ng-show="registerForm.$submitted && registerForm.oldpassword.$error.required">Please enter confirm password .</p>
                        <p class="error" ng-show='!registerForm.oldpassword.$untouched && registerForm.oldpassword.$error.minlength'>Password must be minimum of 8 characters</p>
                        <p class="error" ng-show='!registerForm.oldpassword.$untouched && registerForm.oldpassword.$error.pattern'> password should contain 1 uppercase,1 lowercase,1 digit and 1 special character</p>
                    </div>
                    <div class="form-group1">
                        <label>New Password:</label>
                        <input type="password"  minlength="8" name="password" ng-model="pass.Npassword" ng-minlength="8" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,`~|])(?!.*\s).*$/"
                            placeholder="new password" required>
                        <p class="error" ng-show="registerForm.$submitted && registerForm.password.$error.required">Please enter confirm password .</p>
                        <p class="error" ng-show='!registerForm.password.$untouched && registerForm.password.$error.minlength'>Password must be minimum of 8 characters</p>
                        <p class="error" ng-show='!registerForm.password.$untouched && registerForm.password.$error.pattern'> password should contain 1 uppercase,1 lowercase,1 digit and 1 special character</p>
                    </div>
                    <div class="form-group1">
                        <label>Confirm Password:</label>
                        <input type="password" name="confirmpassword"  minlength="8" ng-model="pass.Cpassword" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,`~|])(?!.*\s).*$/" placeholder="confirm password">
                        <p class="error" ng-show="registerForm.$submitted && registerForm.confirmpassword.$error.required">Please enter confirm password .</p>
                        <p class="error" ng-show='!registerForm.confirmpassword.$untouched && registerForm.confirmpassword.$error.minlength'>Password must be minimum of 8 characters</p>
                        <p class="error" ng-show='!registerForm.confirmpassword.$untouched && registerForm.confirmpassword.$error.pattern'> password should contain 1 uppercase,1 lowercase,1 digit and 1 special character</p>
                    </div>
                    <div class="form-group1 text-center">

                        <button type="button" ng-click="change(pass,valid)" class="reset-bttn-wl">Submit</button>
                        <button type="button" ng-click="close()" class="reset-bttn-w2">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>

</html>