<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin Dashboard</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="ART">
  <meta name="author" content="Art MT">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="root/image/main-logo.png" rel="icon">
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- <link rel="stylesheet" href="root/css/bootstrap.css" type="text/css"> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <section id="container">
    <!--header-->
    <header class="header fixed-top clearfix">
      <div class="brand">
        <a href="#" class="logo">
          <img src="root/image/wellness-token.png"> </a>
        <div class="sidebar-toggle-box">
          <!-- <div class="fa fa-bars"></div> -->
        </div>
      </div>
      <div class="top-nav clearfix">
        <ul class="nav pull-right top-menu">
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <img alt="" src="root/image/user.png"> </a>
            <h6 class="profile-chat">Welcome {{sessionuser}}!!! </h6>
            <ul class="dropdown-menu extended logout">
              <li>
                <a href="javascript:void(0);" ng-click="open()">
                  <i class="fa fa-cog"></i> Reset Password</a>
              </li>
              <li>
                <a href="javascript:void(0);" ng-click="logout()">
                  <i class="fa fa-key"></i> Log Out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </header>
    <!--header-->

    <aside>
      <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
          <ul class="sidebar-menu" id="nav-accordion">
            <li class="nav-profile logo-nav">
              <img src="root/image/logo-1.png"> </li>
            <li>
              <a class="active" href="admindashboard" ui-sref="admindashboard">
                <img src="root/image/dashboard.png">
                <span class="m_left">Dashboard</span>
              </a>
            </li>
            <li>
              <!-- <a href="admin-transaction.html"> -->
              <a href="admintransaction" ui-sref="admintransaction">
                <img src="root/image/transaction.png">
                <span class="m_left">My Transaction</span>
              </a>
            </li>
			 <li>
                            <!-- <a href="admin-transaction.html"> -->
                            <a href="userlist" ui-sref="userlist">
                              <img src="root/image/user-2.png" width="30px"> 
                              <span class="m_left">User List</span>
                            </a>
                          </li>
            <!-- <li>
                            <a href="#">
                                <img src="root/image/settings.png">
                                <span>Support</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="root/image/aboutus.png">
                                <span>About Us</span>
                            </a>
                        </li> -->
            <li>
              <a href="" ng-click="logout()">
                <img src="root/image/exit.png">
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>
    <section id="main-content">
      <section class="wrapper">
        <div class="dashboard-title">
          <h1>Admin
            <span>Dashboard</span>
          </h1>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12  wellness-col-12">
          <div class="menchor-wallet-id">
              <h1>Wallet Address :</h1>
              <p>{{walletaddress}}</p>

          </div>
      </div>
        <div class="admin-list-box">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-3 col-sm-6 welness-box-3">
                <div class="list-box-4">
                  <div class="widget-panel bg-pink">
                    <div class="bg-img">
                      <img src="root/image/user-2.png">
                    </div>
                    <div class="detailsBg">
                      <h2 class="counter">{{Userscount}}</h2>
                      <div class="visit-list">
                          <a href="userlist" ui-sref="userlist"> User </a></div>
                    </div>
                   
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 welness-box-3">
                <div class="list-box-4">
                  <div class="widget-panel bg-purple">
                    <div class="bg-img">
                      <img src="root/image/ether.png">
                    </div>
                    <div class="detailsBg">
                    <h2 class="counter">Eth:{{etherBalance.toFixed(4)}}</h2>
                   <h2 class="counter">$:{{ethOnUsd.toFixed(4)}}</h2>
                    <div class="visit-list">Ether Balance</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-3 col-sm-6 welness-box-3">
                <div class="list-box-4">
                  <div class="widget-panel bg-success">
                    <div class="bg-img">
                      <img src="root/image/diamond.png">
                    </div>
                    <div class="detailsBg">
                    <h2 class="counter">{{icotokens}}</h2>
                    <div class="visit-list">ICO Tokens</div>
                  </div>
                  </div>
                </div>
              </div> -->
              <div class="col-lg-3 col-sm-6 welness-box-3">
                <div class="list-box-4">
                  <div class="widget-panel bg-red">
                    <div class="bg-img">
                      <img src="root/image/toal-icon.png">
                    </div>
                    <div class="detailsBg">
                    <h2 class="counter">{{totaltokens}}</h2>
                    <div class="visit-list">Total Tokens</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 welness-box-3">
                <div class="list-box-4">
                  <div class="widget-panel bg-dpink">
                    <div class="bg-img">
                      <img src="root/image/diamond.png">
                    </div>
                    <div class="detailsBg">
                    
                    <h2 class="counter">{{soldtokens}}</h2>
                    <div class="visit-list">Sold Tokens</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-3 col-sm-6 welness-box-3">
                <div class="list-box-4">
                  <div class="widget-panel bg-blue">
                    <div class="bg-img">
                      <img src="root/image/bal-token.png">
                    </div>
                    <div class="detailsBg">
                    
                    <h2 class="counter">{{tokenBalance}}</h2>
                    <div class="visit-list">Balance Tokens</div>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="col-lg-3 col-sm-6 welness-box-3">
                <div class="list-box-4">
                  <div class="widget-panel bg-orange">
                    <div class="bg-img">
                      <img src="root/image/bitcoin-bal.png" ng-click="burntoken()">
                    </div>
                    <div class="detailsBg">
                    
                    <h2 class="counter">{{BurnUnsoldtokens}}</h2>
                    <div class="visit-list">Burn Tokens</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 welness-box-3">
                <div class="list-box-4">
                  <div class="widget-panel bg-dpink">
                    <div class="bg-img">
                      <img src="root/image/mint_token.png" ng-click="minttoken()">
                    </div>
                    <div class="detailsBg">
                    
                    <h2 class="counter">{{minttokenvalue}}</h2>
                    <div class="visit-list">Mint Tokens</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 welness-box-3">
                <div class="list-box-4">
                  <div class="widget-panel bg-dpink">
                    <div class="bg-img">
                      <img src="root/image/mint_token.png" ng-click="subtokenRate()">
                    </div>
                    <div class="detailsBg">
                    
                    <h2 class="counter">{{tokenRate}}</h2>
                    <div class="visit-list">Token Rate</div>
                    </div>
                  </div>
                </div>
              </div>
                <!-- <div class="col-lg-3 col-sm-6 welness-box-3">
                  <div class="list-box-4">
                    <div class="widget-panel bg-dpink">
                      <div class="bg-img">
                        <img src="root/image/bal-token.png">
                      </div>
                      <div class="detailsBg">
                      
                      <h2 class="counter">{{refarral}}</h2>
                      <div class="visit-list">Referral points</div>
                      </div>
                    </div>
                  </div>
                </div> -->
              <div class="col-lg-3 col-sm-6 welness-box-3">
                <div class="list-box-4">
                  <div class="widget-panel bg-blue">
                    <div class="bg-img">
                      <img src="root/image/bal-token.png">
                    </div>
                    <div class="detailsBg">
                    
                    <h2 class="counter">{{availabletoken}}</h2>
                    <div class="visit-list">Available Tokens</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="coin-transfer">
          <div class="container-fluid">
            <div class="col-md-12 col-sm-12 col-xs-12 coin-transfer-padd">
              <div class="transaction-title">
                <h1>Coin
                  <span>Transfer</span>
                </h1>
              </div>
              <div class="coin-transfer-wrap">
                <form name="admindashboard" class="adjust_padding">
                  <div class="form-group">
                    <label for="wallet"> Wallet Address</label>
                    <input name="wallet-address" ng-model="towalletaddress" type="text" placeholder="Wallet address" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="wallet"> Number Of Token</label>
                    
                                <!-- <input type="number"  class="form-control" ng-model="tokenno" min="0" step="0.0001" placeholder="No of token"   minlength="1" maxlength="10" 
                                autocomplete="off" onkeypress="return isNumber(event)"  required  autocomplete="off" /> -->
                                
                                <!-- <input type="text" class="form-control" name="coinvalue" placeholder="No of token"  minlength="1" maxlength="10"  ng-model="coinvalue" onkeypress="return isNumber(event)" min=0 ng-pattern="^\d*(\.\d{0,2})?$" step="0.0001" required  autocomplete="off" /> -->
                                  <input type="number" ng-model="tokenno" min=0 step=0.0001 placeholder="No of token"   minlength="1" maxlength="15" 
                                                 autocomplete="off"> 
                  </div>
                  <div class="form-group send-btn-bttm">
                    <button type="button" ng-click="transfer()" class="btn btn-send">Send</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>
  <!--Burn Unsold Token-->
  <div class="burn-token-popup hide">
    <div class="burn-token-div">
      <h1>Burn Unsold Tokens</h1>
      <div class="burn-body-cont">
        <form action="" method="post">
          <div class="form-group">
            <label>No. of Tokens to be burnt:</label>
            <input type="text" name="burn-token">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-cancel">Cancel</button>
            <button type="button" class="btn btn-confirm">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="loaderBgdiv" ng-hide="myValue"><div class="loader"></div></div>

</body>

</html>