<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot - Password</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="ART">
    <meta name="author" content="Art MT">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="root/image/main-logo.png" rel="icon">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link rel="stylesheet" href="root/css/bootstrap.css" type="text/css">

</head>

<body>
    <!---forgot password-->
    <div class="wellness-signin">
        <div class="wellness-signin-left">
            <div class="welness-logo">
                <img src="root/image/main-logo.png">
            </div>
            <!-- <div class="social-media">
                    <h1>Sign up with you favourite social profile</h1>
                    <ul>
                        <li>
                            <a href="" ng-click="facebookLogin()">
                                <i class="fa fa-facebook facebook-clr" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="onGooleLogin()">
                                <i class="fa fa-google-plus twitter-clr" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div> -->
        </div>
        <div class="wellness-signin-right">
            <div class="wellness-container">
                <div class="wellness-signin-form">
                    <h1 class="text-center">Forgot Password</h1>
                    <form name="forgotPasswordForm" novalidate>
                        <div class="form-group">
                            <label>
                                Email
                            </label>
                            <input type="text" name="emailId" placeholder="Email" value="" ng-pattern="/^([a-z0-9\+_\-]+)(\.[a-z0-9\+_\-]+)*@([a-z0-9\-]+\.)+[a-z]{2,6}$/"
                                class="form-control" autofocus ng-model="forgotpassword" ng-blur="validateEmail()" autocomplete="off"
                                required/>
                            <p class="error" ng-if="forgotPasswordForm.$submitted && forgotPasswordForm.emailId.$error.required" class="help-block">Please Enter Email Id.</p>
                            <p class="error" ng-if="value && forgotPasswordForm.emailId.$error.pattern" class="help-block"> Enter valid mailid.</p>
                        </div>
                        <!-- <div>

                                <input type="text" ng-model="forgotpassword" placeholder="..........">
                                <span class="error-msg">Invalid Email address</span>
                            </div> -->

                        <div class="form-group text-center">
                            <button type="submit" class="wellness-signin-btn" ng-click="ForgotPassword(forgotpassword)">Send Mail</button>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="loaderBgdiv" ng-hide="myValue"><div class="loader"></div></div>

</body>

</html>